*{
	margin: 0px;
	padding: 0px;
}
header {
	height: 100px;
	width: 100%;
	background-color: #E13D00;
}
.singIn {
	float: right;
}
header a{
	display: inline-block;
	color: #f1f1f1f1;
	text-decoration: none;
	font-size: 21px;
	margin: 60px 20px 0 20px;
}
body {
	background-color: #f1f1f1;
}