*{
	margin: 0px;
	padding: 0px;
}
.all{	
	overflow: hidden;
	height: 100%;
	width: 100%;
	min-width: 1400px;
	max-width: 100%
	}
header {
	height: 100px;
	width: 100%;
	background-color: #E13D00;
}
body {
	background-color: #f1f1f1;
}
header input {
	width: 250px;
	height: 27px;
	background-color: #f1f1f1;
	border-radius: 15px;
	text-align: center;
	margin-top: 50px;
	margin-left: 30px;
	float: left;
}
header input:focus{
    outline:0 none !important;
}
header input::placeholder {
	color: #404040FF;
}
.photo {
	height: 75px;
	width: 75px;
	background-color: #f1f1f1;
	border-radius: 10px;
	margin-top: 13px;
	right: 60px; 
	position: static;
	display: inline-block;
}
.pinion {
	height: 40px;
	width: 40px;
	display: inline-block;
	margin-top: 50px;
	margin-left: 900px;
}
img.set{
	transition: 1.5s;
}
.pinion:hover img.set {
	transform: rotate(200deg);
}